<html xmlns:th="http://www.thymeleaf.org"
	th:replace="admin/layout/mylayout :: mainContent('Form', ~{this :: .containerReplace})">

<head>
	<title></title>
</head>
<body>
	<div class="containerReplace">
		<div class="container-fluid  dashboard-content">
			<!-- ============================================================== -->
			<!-- pageheader -->
			<!-- ============================================================== -->
			<div class="row">
				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
					<div class="page-header">
						<h2 class="pageheader-title">Form Add Question </h2>
						<p class="pageheader-text">Proin placerat ante duiullam scelerisque a velit ac porta, fusce sit
							amet vestibulum mi. Morbi lobortis pulvinar quam.</p>
						<div class="page-breadcrumb">
							<nav aria-label="breadcrumb">
								<ol class="breadcrumb">
									<li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Dashboard</a></li>
									<li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Forms</a></li>
									<li class="breadcrumb-item active" aria-current="page">Form Validations</li>
								</ol>
							</nav>
						</div>
					</div>
				</div>
			</div>
			<!-- ============================================================== -->
			<!-- end pageheader -->
			<!-- ============================================================== -->
			<div class="row">
				<!-- ============================================================== -->
				<!-- valifation types -->
				<!-- ============================================================== -->
				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
					<div class="card">
						<h5 class="card-header">Add New Question</h5>
						<div class="card-body">
							<form method="post" th:action="@{/admin/setQuestion}" id="validationform" data-parsley-validate="" novalidate="">														
								 <div class="form-group">
                            <div class="card">
                                <h5 class="card-header">
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
									Set of questions &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Test</h5> 
                                <div class="card-body">
                                    <select id='keep-order' multiple='multiple' name="select[]">
                                        <option th:each="question : ${questions}" 
											th:value="${question.id_question}" th:text="${question.name_question}"></option>
                                    </select>
                                </div>
                            </div>
                        </div>
								
								<div class="form-group row">
									<label class="col-12 col-sm-3 col-form-label text-sm-right">Test</label>
									<div class="col-12 col-sm-8 col-lg-6">
										 <div class="form-group">
                                                <select class="form-control" th:field="${question.test.id_test}">
                                                    <option th:each="test : ${tests}" 
														th:value="${test.id_test}" th:text="${test.name_test}">Default select</option>
                                                </select>
                                            </div>
									</div>
								</div>
								<div class="form-group row text-right">
									<div class="col col-sm-10 col-lg-9 offset-sm-1 offset-lg-0">
										<button type="submit" class="btn btn-space btn-primary">Submit</button>
										<button class="btn btn-space btn-secondary">Cancel</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
				<!-- ============================================================== -->
				<!-- end valifation types -->
				<!-- ============================================================== -->
			</div>

		</div>
		<!-- ============================================================== -->
	</div>
</body>

</html>