<html xmlns:th="http://www.thymeleaf.org"
	th:replace="admin/layout/mylayout :: mainContent('Send Mail', ~{this :: .containerReplace})">

<head>
	<title></title>
</head>

<body>
	<div class="containerReplace">
		<div class="container-fluid">
			<aside class="page-aside">
				<div class="aside-content">
					<div class="aside-header">
						<button class="navbar-toggle" data-target=".aside-nav" data-toggle="collapse"
							type="button"><span class="icon"><i class="fas fa-caret-down"></i></span></button><span
							class="title">Mail Service</span>
						<p class="description">Service description</p>
					</div>
					<div class="aside-compose"><a class="btn btn-lg btn-secondary btn-block" href="#">Compose Email</a>
					</div>
					<div class="aside-nav collapse">
						<ul class="nav">
							<!--<li><a href="#"><span class="icon"><i class="fas fa-fw fa-inbox"></i></span>Inbox<span
										class="badge badge-primary float-right">8</span></a></li>-->
							<li class="active"><a href="#"><span class="icon"><i
											class="fas fa-fw  fa-envelope"></i></span>Sent Mail</a></li>
							<!--		<li><a href="#"><span class="icon"><i
											class="fas fa-fw fa-briefcase"></i></span>Important<span
										class="badge badge-secondary float-right">4</span></a></li>-->
							<li><a href="#"><span class="icon"><i class="fas fa-fw fa-file"></i></span>Drafts</a></li>
							<!--							<li><a href="#"><span class="icon"><i class="fas fa-fw fa-star"></i></span>Tags</a></li>-->
							<li><a href="#"><span class="icon"><i class="fas fa-fw fa-trash"></i></span>Trash</a></li>

					</div>
				</div>
			</aside>
			<div class="main-content container-fluid p-0">
				<div class="email-head">
					<div class="email-head-title">Compose new message<span class="icon mdi mdi-edit"></span></div>
				</div>
				<div class="email-compose-fields">
					<div class="to">
						<div class="form-group row pt-0">
							<label class="col-md-1 control-label">To:</label>
							<div class="col-md-11">
								<select class="form-control">
									<option value="Yellow" selected="selected">Yellow</option>
									<option value="White">White</option>
									<option value="Blue" selected="selected">Blue</option>
								</select>
							</div>
						</div>
					</div>
					<div class="to cc">
						<div class="form-group row pt-2">
							<label class="col-md-1 control-label">Cc</label>
							<div class="col-md-11">
								<select class="form-control">
									<option value="Yellow" selected="selected">Yellow</option>
									<option value="White">White</option>
									<option value="Blue" selected="selected">Blue</option>
								</select>
							</div>
						</div>
					</div>
					<div class="subject">
						<div class="form-group row pt-2">
							<label class="col-md-1 control-label">Subject</label>
							<div class="col-md-11">
								<input class="form-control" type="text" placeholder="Subject">
							</div>
						</div>
					</div>
					<div class="subject">
						<div class="form-group row pt-2">
							<label class="col-md-1 control-label">Descriptions</label>
							<div class="col-md-11">
								<textarea class="form-control" id="summernote" name="editordata" rows="19"
									placeholder="Write Descriptions"></textarea>
							</div>
						</div>
					</div>
				</div>
				<!--<div class="email editor">
					<div class="col-md-12 p-0">
						<div class="form-group">
							<label class="control-label sr-only" for="summernote">Descriptions </label>
							<div class="col-md-11">
								<textarea class="form-control" id="summernote" name="editordata" rows="19"
									placeholder="Write Descriptions"></textarea>
							</div>
						</div>
					</div>-->
					<div class="email action-send">
						<div class="col-md-12 ">
							<div class="form-group">
								<input class="btn btn-primary btn-space" type="submit" value="Send"><i
									class="icon s7-mail"></i>
								</input>
								<input class="btn btn-secondary btn-space" type="button" value="Cancel"><i
									class="icon s7-close"></i>
								</input>
								<input class="btn btn-warning btn-space" type="submit" value="Drafts"><i
									class="icon s7-mail"></i>
								</input>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- ============================================================== -->
	</div>
</body>

</html>