<html xmlns:th="http://www.thymeleaf.org"
	th:replace="admin/layout/mylayout :: mainContent('Table', ~{this :: .containerReplace})">

<head>
	<title></title>
</head>

<body>
	<div class="containerReplace">
		<div class="container-fluid  dashboard-content">
			<!-- ============================================================== -->
			<!-- pageheader -->
			<!-- ============================================================== -->
			<div class="row">
				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
					<div class="page-header">
						<h2 class="pageheader-title">Variable Table</h2>
						<p class="pageheader-text">Proin placerat ante duiullam scelerisque a velit ac porta, fusce sit
							amet vestibulum mi. Morbi lobortis pulvinar quam.</p>
						<div class="page-breadcrumb">
							<nav aria-label="breadcrumb">
								<ol class="breadcrumb">
									<li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Dashboard</a></li>
									<li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Tables</a></li>
									<li class="breadcrumb-item active" aria-current="page">Data Tables</li>
								</ol>
							</nav>
						</div>
					</div>
				</div>
			</div>
			<!-- ============================================================== -->
			<!-- end pageheader -->
			<!-- ============================================================== -->
			<div class="row">
				<!-- ============================================================== -->
				<!-- basic table  -->
				<!-- ============================================================== -->
				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
					<div class="card">
						<h5 class="card-header">Variable Table</h5>
						<br>
						<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
							<form method="get" th:action="@{/admin/selectClassTestDetail}">
	    						<input type="hidden" name="id_test" th:value="${id_test}" />
	    						<input class="btn btn-primary" type="submit" value="Filter" style="margin-left: 20px;float:right" />
	   							<select style="margin-left: 20px;padding: 12px; border-color: gainsboro;border-radius: 5px;float:right;width: 200px;" name="selectClass">
		        					<option value="-1">All</option>
		        					<option th:each="class : ${classs}" th:value="${class.id_class}" th:text="${class.name_class}"></option>
	    						</select>
							</form>
						</div>
						<div class="card-body">
							<div class="table-responsive">
								<table class="table table-striped table-bordered first">
									<thead>
										<tr>
											<th>Id</th>
											<th>Test Name</th>
											<th>Student Name</th>
											<th>Score</th>
											<th>Class</th>
										</tr>
									</thead>
									<tbody>
										<th:block th:each="testdetail: ${testdetails}">
										<th:block th:if="${testdetail.test.id_test == id_test}">
										<th:block th:if="${testdetail.student.gbclass.id_class == selectClass || selectClass == -1}">
										<tr>
											<td th:text="${testdetail.id_testdetail}"></td>
											<td th:text="${testdetail.test.name_test}"></td>
											<td th:text="${testdetail.student.fullname_student}"></td>
											<td th:text="${testdetail.score_testdetail}"></td>
											<td th:text="${testdetail.student.gbclass.name_class}"></td>
										</tr>
										</th:block>
										</th:block>
										</th:block>										
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
				<!-- ============================================================== -->
				<!-- end basic table  -->
				<!-- ============================================================== -->
			</div>

		</div>
		<!-- ============================================================== -->
	</div>
</body>

</html>