<html xmlns:th="http://www.thymeleaf.org"
	th:replace="admin/layout/mylayout :: mainContent('Form', ~{this :: .containerReplace})">

<head>
	<title></title>
</head>

<body>
	<div class="containerReplace">
		<div class="container-fluid  dashboard-content">
			<!-- ============================================================== -->
			<!-- pageheader -->
			<!-- ============================================================== -->
			<div class="row">
				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
					<div class="page-header">
						<h2 class="pageheader-title">Form Add Class </h2>
						<p class="pageheader-text">Proin placerat ante duiullam scelerisque a velit ac porta, fusce sit
							amet vestibulum mi. Morbi lobortis pulvinar quam.</p>
						<div class="page-breadcrumb">
							<nav aria-label="breadcrumb">
								<ol class="breadcrumb">
									<li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Dashboard</a></li>
									<li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Forms</a></li>
									<li class="breadcrumb-item active" aria-current="page">Form Validations</li>
								</ol>
							</nav>
						</div>
					</div>
				</div>
			</div>
			<!-- ============================================================== -->
			<!-- end pageheader -->
			<!-- ============================================================== -->
			<div class="row">
				<!-- ============================================================== -->
				<!-- valifation types -->
				<!-- ============================================================== -->
				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
					<div class="card">
						<h5 class="card-header">Add New Class</h5>
						<div class="card-body">
							<form method="post" th:action="@{/admin/addTest}">				
								<div class="form-group row">
									<label class="col-12 col-sm-3 col-form-label text-sm-right">Name Test</label>
									<div class="col-12 col-sm-8 col-lg-6">
										<input type="text" required=""
											class="form-control" th:field="${test.name_test}">
									</div>
								</div>
								<div class="form-group row">
									<label class="col-12 col-sm-3 col-form-label text-sm-right">Class</label>
									<div class="col-12 col-sm-8 col-lg-6">
										 <div class="form-group">
                                                <select class="form-control" th:field="${test.gbclass.id_class}">
                                                    <option th:each="class : ${classs}" 
														th:value="${class.id_class}" th:text="${class.name_class}">Default select</option>
                                                </select>
                                            </div>
									</div>
								</div>
								<div class="form-group row">
									<label class="col-12 col-sm-3 col-form-label text-sm-right">Subject</label>
									<div class="col-12 col-sm-8 col-lg-6">
										 <div class="form-group">
                                                <select class="form-control" th:field="${test.subject.id_subject}">
                                                    <option th:each="subject : ${subjects}" 
														th:value="${subject.id_subject}" th:text="${subject.name_subject}">Default select</option>
                                                </select>
                                            </div>
									</div>
								</div>
								<div class="form-group row">
									<label class="col-12 col-sm-3 col-form-label text-sm-right">Term</label>
									<div class="col-12 col-sm-8 col-lg-6">
										 <div class="form-group">
                                                <select class="form-control" th:field="${test.term.id_term}">
                                                    <option th:each="term : ${terms}" 
														th:value="${term.id_term}" th:text="${term.name_term}">Default select</option>
                                                </select>
                                            </div>
									</div>
								</div>
								<div class="form-group row">
									<label class="col-12 col-sm-3 col-form-label text-sm-right">Type</label>
									<div class="col-12 col-sm-8 col-lg-6">
										 <div class="form-group">
                                                <select class="form-control" th:field="${test.typetest.id_typetest}">
                                                    <option th:each="typetest : ${typeTests}" 
														th:value="${typetest.id_typetest}" th:text="${typetest.name_typetest}">Default select</option>
                                                </select>
                                            </div>
									</div>
								</div>
								<div class="form-group row">
									<label class="col-12 col-sm-3 col-form-label text-sm-right">Code</label>
									<div class="col-12 col-sm-8 col-lg-6">
										 <div class="form-group">
                                                <select class="form-control" th:field="${test.codetest.id_codetest}">
                                                    <option th:each="codetest : ${codeTests}" 
														th:value="${codetest.id_codetest}" th:text="${codetest.name_codetest}">Default select</option>
                                                </select>
                                            </div>
									</div>
								</div>
								<div class="form-group row">
									<label class="col-12 col-sm-3 col-form-label text-sm-right">Starttime</label>
									<div class="col-12 col-sm-8 col-lg-6">
										<input type="datetime-local" name="dateTime" class="form-control">
									</div>
								</div>
								<div class="form-group row text-right">
									<div class="col col-sm-10 co	l-lg-9 offset-sm-1 offset-lg-0">
										<button type="submit" class="btn btn-space btn-primary">Submit</button>
										<button class="btn btn-space btn-secondary">Cancel</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
				<!-- ============================================================== -->
				<!-- end valifation types -->
				<!-- ============================================================== -->
			</div>

		</div>
		<!-- ============================================================== -->
	</div>
</body>

</html>